#bstefanov p {
  font-family: calibri;
  font-size: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

#bstefanov h2 {
  font-family: calibri light;
  text-align: center;
  
}

#bstefanov span{
  font-family: Times New Roman;
  font-style: italic;
}

#bstefanov img {
  margin-left: 20px;
  margin-right: 20px;
}

#bstefanov .moveimage
{
    vertical-align:middle;
    position: relative;
    top: 300px;
}

  video {
  display: block;
  margin: 0 auto;
}


 #img{cursor: pointer;}

 