@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ewert|Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Butcherman&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

#sgeorev{
    text-align: center;
    font-size: 20px;
}
.box{
    margin: 20px;
}
#mainText{
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
}
.second{
    font-family: 'Ewert', cursive;
}
#textForPW{
    font-family: 'Butcherman', cursive;
    
}
#textForBjorn{
    font-family: 'Lobster', cursive;
    
}
#textForBobRoss{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}