html {
    overflow-y: scroll;
    color: #fff;
}

body {
  margin: 0;
  background-image: url("../images/PerkyPlainLacewing-size_restricted.gif");
}


#container {
  width: 1024px;
  margin: auto;
  display: block;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 10px;
}


#image_btn_container {
  background-image: url('../images/arrow-transparent-click-here-left.png'), url('../images/arrow-transparent-click-here-below.png');
  background-repeat:no-repeat;
  background-position:0% 25%, center bottom;
  padding-bottom: 130px;
}

#btn_batman:focus {
    outline: none;
}

/*HIDDEN PART*/
#welcome_block {
  display: none;
  padding-top: 40px;
}


#content_block {
    margin: auto;
    margin-top: 50px;

}

.villians_main_block {
  margin-bottom: 10px;
}

.villains_title_left {
  width: 162px;
  float: left;
}

.villains_title_right {
  float: right;  
  width: 850px;
}


.villains_title_left img {
  border: 1px solid #fff;
}


.villains_name {
  text-align: left;
  font-size: 35px;
  margin: 0px;
  font-weight: bold;
}

.villains_sub_title {
  font-size: 25px;
  margin: 0 5px 5px 0;
  text-align: justify;
}

.char_info_left{
  font-size: 20px;
  text-align: left;
  display: none;
}


.char_info_right{
  font-size: 20px;
  text-align: justify;
  display: none;
}

.show_more {
  float: right;
}

.show_more:hover {
  cursor: pointer;
}


#footer {
  border-top: 2px solid #fff;
}

#footer p {
  font-size: 20px;
}

#footer label {
  font-size: 20px;
}

/*API*/

#api_container {
  border: 5px double #fff;
  padding: 5px 5px 0 5px;
  margin-top: 60px;
  text-align: left;
  font-size: 40px;
}

.avatar_img {
  border: 1px solid #fff;
}

.api_left_container {
  width: 162px;
  float: left;
}

.api_right_container {
  float: right;  
  width: 840px;
}

.api_right_container h2 {
  margin-top: 0;
  margin-left: 195px;
}

#api_container p {
  font-size: 40px;
}

.api_section_header {
  font-weight: bold;
}


#powerstats {
  float: left;
  width: 50%;
}

#appearance {
  width: 50%;
  float: right;
}