#isimeonov {
	text-align: center;
	padding-bottom: 10px;
}

/*#image_btn_container {
  background-image: url('../images/arrow-transparent-click-here-left.png'), url('../images/arrow-transparent-click-here-below.png');
  background-repeat:no-repeat;
  background-position:0% 25%, center bottom;
  padding-bottom: 130px;
}*/

#btn_batman:focus {
    outline: none;
}


.character_main_container {
	width: 820px;
	margin: auto;
}

.character_main_container {
	font-size: 1.3em;
	text-align: justify;
}


#general_information_table {
	border: 3px solid #000;
	margin: 0 auto;
}


.wrapped {
	display: block;
    overflow: hidden;
    border-bottom: 1px solid #000;
    margin: 0 20px 0 20px;
}

#last_wrapped_element {
	border: none;
}


.rigth_side {
	float: right;
	width: 387px;
	text-align: 	right;
	font-style: italic;

}

.left_side {
	float: left;
	width: 387px;

}


.table_headers {
	text-align: 	center;	
	font-weight: 	bold;
}

#video_container {
	margin-top: 20px;
	padding: 0;
}

#comics_button {
	margin-top: 30px;
}

#comics_container {
	display: none;
	text-align: center;
}


.img_right_align {
	float: right;
}

/*API*/

#api_char {
	text-align: center;
}

#api_container {
  border: 5px double #fff;
  padding: 5px 5px 0 5px;
  margin-top: 60px;
  text-align: left;
  font-size: 40px;
}

.avatar_img {
  border: 1px solid #fff;
}

.api_left_container {
  width: 162px;
  float: left;
}

.api_right_container {
  float: right;  
  width: 638px;
}

.api_right_container h2 {
  margin-top: 0;
  margin-left: 195px;
}

#api_container p {
  font-size: 25px;
}

#api_container {
  font-size: 20px;
}

.api_section_header {
  font-weight: bold;
}


#powerstats {
  float: left;
  width: 50%;
}

#appearance {
  width: 50%;
  float: right;
}