body {
	width: 1024px;
	margin: auto;
	display: block;
}

#container {
	width: 1024px;
}

#header {
	text-align: center;
}

#nav_title {
	text-align: center;
}

#navigation {
   text-align: center;

}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}
#navigation li {
  float: left;
  
}
.nav_borderIS a{
  background-color: rgb(55, 65, 70);
  color: rgb(206, 211, 212);
  border-right:10px solid white;
}
.nav_borderBS a{
  background-color: rgb(73, 88, 78);
  color:ivory;
  border-right:10px solid white;
}
.nav_borderSG a{
  background-color: rgb(217, 231, 216);
  color: rgb(106, 116, 109);
  border-right:10px solid white;
}
.nav_borderVS a{
  background-color: rgb(36, 92, 3); 
  color: rgb(236, 243, 177);
  border-right:10px solid white;
}
.nav_borderSI a{
  background-color: rgb(247, 200, 14);
  color: rgb(121, 109, 7);
  border-right:10px solid white;
}

#navigation a {
  display: inline-block;
  color: var(--dark blue);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  font-weight: bold;
}

.member_container {
	border: 1px solid black;
	margin: 10px 0;
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #333;; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #111; /* Add a dark-grey background on hover */
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 0px;
  height: 130px; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer label{
  background-color: #333;; /* Set a background color */
  color: white; /* Text color */
  padding-bottom: 10px;
 display: block;
  font-size: 20px;
  text-align: center;
}