#sivanov {
    text-align: center;
    font-size: 18px;
        
}
#UnderConstruction {
    
    text-align: left;
     
}
#under2 {

float: right;
}
.VT {
    text-align: center;
    
}
.Hystory{
   
    text-align: left;
    margin: 10px 10px 10px 240px;
   
}
.logo {
    height: 110%;
    float: left;
    margin:  10px  10px;
}
#hideBtn {
    align-content: center;
    margin:  10px  10px;
    font-size: 150%;

    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  
}
#hideBtn :hover {background-color: purple}
#hideBtn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#startBtn{
    
        background-color: #4CAF50; /* Green */
        border: none;
        color: purple;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 100px;
      
}

