

#vslavkova h1{
    font-family:Georgia,Helvetica,sans-serif;
    color:rgb(36, 92, 3);
    font-weight:80;
    font-weight:bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    word-spacing: 1em; 
}
#vslavkova p{
    font-family:Georgia,Helvetica,sans-serif;
    color: rgb(2, 75, 6);
    font-size: 20px;
    word-spacing: 0.5em;
    font-weight:bolder;
    text-align: center;
    background-color: rgb(236, 243, 177);
}
#vslavkova h3{
    font-family:Georgia,Helvetica,sans-serif;
    color:rgb(36, 92, 3);
    font-size: 20px;
    font-weight:bold;
    text-align: left;
    
}
#vslavkova p img{
padding-left: 700px;
margin-top: 0px;  
}
.box-1{
padding-left: 600px;
margin-top: 0px;  


}
.box-1 h3{
     font-family:Georgia,Helvetica,sans-serif;
    color: rgb(2, 75, 6);
    font-size: 20px;
    font-weight:bold; 
    padding-left: 40px;
}

.box-2{
      background-color: rgb(236, 243, 177)
}
.box-2 h1 label{ 
font-size: 150px;
    color: rgb(2, 75, 6);
  text-align: center;
  }

.box-2 ul{
    font-family:Georgia,Helvetica,sans-serif;
    color: rgb(2, 75, 6);
    font-size: 20px;
    font-weight:normal;
    padding-left: 200px; 
     list-style-type: none;
}
.box-2 ul h3{
    font-weight:normal;
margin-top: 0px; 
padding-left: 50px; 
}
.box-2 li h2{
    padding-left: 230px;  
}
.box-2 li h3{
    padding-left: 300px;  
}
.box-2 li h4{ 
    padding-left: 440px;  
}
.box-2 li h5{
    padding-left: 300px;  
}
.box-2 button{
    font-family:Georgia,Helvetica,sans-serif;
    color: rgb(72, 87, 6);
    background-color: rgb(236, 230, 164);
    font-size: 20px;
    font-weight: initial;
    margin-bottom: 20px;
    border-color:  rgb(44, 53, 3);
    border-radius: 10px;
    border-block-start-color:  rgb(44, 53, 3);
    border-bottom-color: darkolivegreen;
    border-block-end-width: 0.5px;
    border-block-start-width: 0.5px;
    border-block-start-style:dotted;
    border-block-end-style: dotted;
    border-block-style: dotted;
}
.box-2 input{
    font-family:Georgia,Helvetica,sans-serif;
    color: rgb(72, 87, 6);
    background-color: rgb(240, 235, 184);
    font-size: 20px;
    font-weight: initial;
    margin-bottom: 20px;
    border-color:  rgb(44, 53, 3);
    border-radius: 5px;
    border-block-start-color:  rgb(44, 53, 3);
    border-bottom-color: darkolivegreen;
    border-block-end-width: 0.5px;
    border-block-start-width: 0.5px;
    border-block-start-style:dotted;
    border-block-end-style: dotted;
    border-block-style: dotted;
   text-align: center;
}

.box-3{
    padding-left: 50px;  
}
.box-3 h3{
    font-family:Georgia,Helvetica,sans-serif;
    color: rgb(2, 75, 6);
    font-weight:normal;
}
.box-3 h3 img{
    border-right: 0px;
    border-left: 0px;
    padding-bottom: -10px;
}
.box-3 img{
    border-right:35px dotted #ccc;
    border-left:35px dotted #ccc;
}